#stripe-payments-admin-wrap li {
	overflow: auto;
}

#stripe-payments-admin-wrap label {
	width: 200px;
	display: inline-block;
	text-align: right;
}

#stripe-payments-admin-wrap .instructions {
	margin: 10px;
	padding: 10px;
	background-color: #eeeeff;
	border: 1px solid #6666ff;
}
#stripe-payments-admin-wrap .instructions ul {
	margin: 10px 20px;
	list-style-type: circle;
}
#stripe-payments-admin-wrap .instructions ul li {
	margin-bottom: 5px;
}
